body {
    background-color: #FCFBFC; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow:auto;
    height: 100vh;
    margin: 0;
}

.btn-container {
    display: flex;

}

.btn {
    background-color: #FCFBFC;
    height: 80px;
    width: 80px;    
    margin: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 400ms;
    box-shadow: 7px 7px 15px #e9e9e9, -4px -4px 13px #ffffff, inset 4px 4px 8px #f5f5f5d3, inset -8px -8px 8px #f8f8f8fb;
    border: 1px solid rgba(235, 235, 235, 0.541)
}

.btn i {
    font-size: 40px;
    transition: all 400ms;
    color: #2727272c;
    
} 

.btn:hover i{
    transform: scale(0.96);
}

.btn:hover{
    box-shadow: 4px 2px 18px rgb(236, 236, 236), -4px -4px 13px rgb(250, 250, 250), 
    inset 6px 6px 16px rgba(179, 179, 179, 0.253), 
    inset -8px -8px 8px rgba(219, 219, 219, 0.027);

    transform: translateY(2px);
}

.close {
    position: absolute;
    transition: all 400ms;
    right: 32px;
    top: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 0.5;
    cursor: pointer;
    transform: scale(0.8)
  }


  .back {
    position: absolute;
    display: none;
    transition: all 400ms;
    left: 32px;
    top: 32px;
    opacity: 0.3;
  }

  .back:hover {
    opacity: 0.5;
    cursor: pointer;
    transform: rotate(-360deg);
  }

  .indicator {
    height: 20px;
    width: 20px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    border-radius: 50%;
    display: none;
    position: absolute;
    transition: all 400ms;
    margin-top: 41px;
  }


  .indicator:hover{
    transform: scale(0.80);
  }

  .deviceName {
    color: rgba(46, 46, 46, 0.322) !important;
    position: absolute;
    margin-top: 70px;
    font-size: 15px;
  }

.Title {
  color: #1a1a1aa2 !important;
  position: absolute; 
  top: 87px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}

.alert{
  position: absolute;
  bottom: 100px;
  display: none;
}

.show {
  display: block;
}
;
/*WebOS controller ⚛ */

.webOSPanel {
  width: 500px;
  height: 300px;
  align-items: inherit;
  justify-content: inherit;
}

.h4Control{
  position: absolute;
  left: 355px;
  top: 160px;
}

.h4Apps {
  position: absolute;
  left: 370px;
  bottom: 150px;
}

.shutDown {
  position: fixed;
  left: 200px;
  top: 260px;
}

.volumeOff {

  position: fixed;
  right: 200px;
  top: 260px;
}

.fa-power-off {
  color: #e74d3ca8 !important;
  opacity: 0.8;
}

svg[data-icon="ion-logo-youtube"] {
  color: #ba3329 !important;
  font-size: 34px;
  opacity: 0.5;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

svg[data-icon="mdi-netflix"] {
  font-size: 34px;
  color: #ba3329;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  opacity: 0.5;
}

.bounce:hover {
  animation-name: bounce-1;
  animation-timing-function: ease;
}
@keyframes bounce-1 {
  0%   { transform: scale(1,1) translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%   { transform: scale(.9,1.1) translateY(-10px); }
  50%  { transform: scale(1,1) translateY(0); }
  57%  { transform: scale(1,1)    translateY(-1px); }
  64%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1) translateY(0); }
}


.volumeDial {
  position: fixed;
  top: 100px;
  box-shadow: 7px 7px 15px #e9e9e9, -4px -4px 13px #ffffff, inset 4px 4px 8px #f5f5f5d3, inset -8px -8px 8px #f8f8f8fb !important
}

.app-container {
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 230px;
}